{% extends "main/base.html" %}
{% load staticfiles %}
{% block nav  %}
	<li><a class="current" href="/">About me</a>
{% endblock %}
{% block content %}
	<img class="round-img right-float col-1-3 group" src="{% static 'main/img/selfpic.jpg' %}">
	<p>I'm Andreas Hagesjö, recently graduated in Master of Computer Science</p>
	<p>I'm really passionate about programming and problem solving. If I find an opportunity to write a script to either automate a task or to help me solve a problem, I go for it.
	Whenever you see a programming challenge or a <a href="https://en.wikipedia.org/wiki/Puzzlehunt">puzzle hunt</a>, expect me to be there first to try to solve it.</p>

	<p>Apart from programming, I really enjoy music - I've been playing guitar and piano almost my entire life. In addition, give me a random instrument I haven't played before and I'll be learning before the day runs out, that's a promise.</p>
{% endblock %}
