{% extends "main/base.html" %}
{% load staticfiles %}
{% block nav  %}
	<li><a class="current" href="/">about me</a><!--
	--><li><a href="/links">useful links</a>
{% endblock %}
{% block content %}
	<img class="round-img right-float col-1-3 group" src="{% static 'main/img/selfpic.jpg' %}">
	<p>I'm Andreas Hagesjö, a soon-to-be Master of Science in Computer Science - I'm currently doing my master in Algorithms, Languages and Logic at Chalmers University of Technology.</p>
	<p>I'm really passionate about programming and problem solving. If I find an opportunity to write a script to either automate a task or to help me solve a problem, I go for it.
	Whenever you see a programming challenge or a <a href="https://en.wikipedia.org/wiki/Puzzlehunt">puzzle hunt</a> on the internet, expect me to be there first to try to solve it.</p>
	<p>I also enjoy penetration testing as a hobby: I'm not actually into breaking systems or websites, I enjoy scraping websites and test systems to try to find errors, in which I report whenever anything comes up. So I suppose you could call me a <a href="https://en.wikipedia.org/wiki/White_hat_(computer_security)">white hat</a>.</p>

	<p>Apart from programming, I call myself a musician - instruments seem to like me.
	I've been playing guitar and piano almost my entire life, so I suppose one can call me good at it.
	However, give me a random instrument I haven't played before and I'll be learning before the day runs out, that's a promise.</p>
{% endblock %}
