{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'main/reset.css' %}"/>
		<link rel="stylesheet" href="{% static 'main/main.css' %}"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100, 300, 400|Roboto">
		<title>Hagesjo.se - Din kyla i värmen </title>
	</head>

	<body>
		<header class="container group header">
			<h1 class="logo">Andreas Hagesjö</h1>
			<nav class="nav primary-nav">
				<ul>
					{% block nav %}
					<li><a href="/">about me</a><!--
					--><li><a href="/links">useful links</a>
					{% endblock  %}
				</ul>
			</nav>
		</header>
		<section class="container main group">
			{% block content %}
				<p> Legget </p>
			{% endblock  %}
		</section>
		<footer class="container footer group">
			<ul>
				<li><a href="https://github.com/hagesjo"><img class="img-icon" src="{% static 'main/img/github.png' %}"></a></li>
				<li><a href="https://www.linkedin.com/in/andreas-hagesj%C3%B6-40a50a66?trk=hp-identity-name"><img class="img-icon" src="{% static 'main/img/linkedin.png' %}"></a></li>
				<li><a href="https://facebook.com/andreas.hagesjo"><img class="img-icon" src="{% static 'main/img/facebook.png' %}"></a></li>
				<li><a href="mailto:andreas.hagesjo@gmail.com"><img class="img-icon" src="{% static 'main/img/email.png' %}"></a></li>
			</ul>
		</footer>
	</body>
</html>
