{% extends "main/base.html" %}
{% load staticfiles %}
{% block nav  %}
	<li><a href="/">about me</a><!--
	--><li><a class="current" href="/links">useful links</a>
{% endblock %}
{% block content %}
	<ul class="links">
		<li><a href="https://se.timeedit.net/web/chalmers/db1/public/ri15YXQ0001Z51Qv9X0435Q6y6Y090265Y61Y5gQ1075763Z7.html">Schedule for machine learning + compsec</a></p></li>
		<li><a href="http://www.cse.chalmers.se/research/lab/courses/algorithms-for-machine-learning-tda-231/">Machine learning homepage</a></p></li>
		<li><a href="http://www.cse.chalmers.se/edu/course/EDA263/">Computer security homepage</a></p></li>
		<li><a href="http://legacy.hagesjo.se">The old (not so serious) hagesjo.se</a></p></li>
	</ul>
{% endblock %}
